// TODO

.body{  
  img{
    width: 100%;
  }
}

.post{
  
  margin: 5rem auto ;

  h1{
    font-size: 3rem;
    font-weight: 700;
  }

  h2{
    font-size: 2.25rem;
    font-weight: 700;
  }
  
  p{
    text-align: justify;
    color: var(--gray-200);
    line-height: 2rem;
    margin: 1.25rem 0;
    font-size: 1.125rem;
  }

  a{
    color: var(--pink);
  }
  
}

.info{

  margin: 1.5rem 0 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  color: var(--gray-300);
  gap: 1.5rem;
  svg{
    margin-right: 0.5rem;
  }

  & + div {
    margin-bottom: 4rem;
    font-style: italic;
  }

}

.fallback{
  width: 100%;
  color: var(--gray-200);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.navigation{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba($color: #D7D7D7, $alpha: 0.1) ;
  padding: 3rem 0 5rem;

  a{
    color: var(--white);
    
    
    strong{
      color: var(--pink);
      font-size: 1rem;
    }
  }
}

.footer{
  margin-bottom: 5rem;
}